/* 
	Resets defualt browser settings
	reset.css
*/

/*
	Page style
*/


#container {
	width:1004px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#example {
	width:1004px;
	height:350px;
	position:relative;
	margin-top: 20px;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:1004px;
	height:270px;
	top:308px;
	margin-left: -20px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:990px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:990px;
	height:270px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-108px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:810px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(/web/20160709083830im_/http://khazrajiaudit.com/images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Caption
*/

/*
     FILE ARCHIVED ON 08:38:30 Jul 09, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:50:01 Jun 16, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.622
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.056
  esindex: 0.01
  cdx.remote: 42.738
  LoadShardBlock: 294.878 (3)
  PetaboxLoader3.datanode: 308.792 (4)
  PetaboxLoader3.resolve: 927.068 (3)
  load_resource: 993.149
*/