#user
{
padding-right: 28px;
}

#pswd
{
padding-right: 30px;
}
/*
     FILE ARCHIVED ON 09:47:11 Jul 09, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:50:03 Jun 16, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.762
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.049
  esindex: 0.012
  cdx.remote: 8.747
  LoadShardBlock: 84.083 (3)
  PetaboxLoader3.datanode: 83.362 (4)
  PetaboxLoader3.resolve: 245.631 (2)
  load_resource: 275.559
*/